tbody > tr > td > button {
   background: transparent;
   border: 0;
   font-weight: 500;
   color: #1b84ff;
}
tbody > tr > td > button:hover {
   text-decoration: underline;
   transition: all 0.3s ease-in-out;
}
table#datatable {
   min-height: 100px;
}
table {
   width: 100% !important;
}
a.page-link.last > i.last {
   mask-repeat: no-repeat;
   mask-position: center;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center;
   background-color: var(--bs-gray-700);
   -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20id%3D%22eVJL1kbPQz01%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%206%206%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22translate(-1.406974-.000002)%22%2F%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22translate(1.406978-.000002)%22%2F%3E%3C%2Fsvg%3E");
   mask-image: url("data:image/svg+xml,%3Csvg%20id%3D%22eVJL1kbPQz01%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%206%206%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22translate(-1.406974-.000002)%22%2F%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22translate(1.406978-.000002)%22%2F%3E%3C%2Fsvg%3E");
}
a.page-link.first > i.first {
   mask-repeat: no-repeat;
   mask-position: center;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center;
   background-color: var(--bs-gray-700);
   -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20id%3D%22e1wBpqErPUz1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%206%206%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22matrix(-1%200%200%201%204.593022-.000002)%22%2F%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22matrix(-1%200%200%201%207.406974-.000002)%22%2F%3E%3C%2Fsvg%3E");
   mask-image: url("data:image/svg+xml,%3Csvg%20id%3D%22e1wBpqErPUz1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%206%206%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22matrix(-1%200%200%201%204.593022-.000002)%22%2F%3E%3Cpath%20d%3D%22M3.27989%2C3.23571L1.53642%2C4.97917c-.1726.17259-.17259.45241%2C0%2C.625s.4524.17259.62497%2C0L4.47096%2C3.29463c.16275-.16271.16275-.42654%2C0-.58925L2.16139%2C0.395812c-.17256-.172562-.45238-.172562-.62497%2C0s-.17259.452438%2C0%2C.624998L3.27989%2C2.76429c.13017.13017.13017.34125%2C0%2C.47142Z%22%20transform%3D%22matrix(-1%200%200%201%207.406974-.000002)%22%2F%3E%3C%2Fsvg%3E");
}
.page-item .page-link .last,
.page-item .page-link .first {
   display: block;
   height: 0.875rem;
   width: 0.875rem;
}
.dt-paging > .pagination > li:last-child,
.dt-paging > .pagination > li:first-child {
   display: none;
}
.dt-processing {
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   z-index: 10;
   border-radius: 0.475rem;
   box-shadow: var(--bs-dropdown-box-shadow);
   background-color: var(--bs-body-bg);
   color: var(--bs-gray-700);
   font-weight: 500;
   margin: 0 !important;
   width: auto;
   padding: 1rem 2rem !important;
   transform: translateX(-50%) translateY(-50%);
}
.badge {
   border-radius: unset !important;
}
