cdn/media/*
!cdn/media/avatar-placeholder.png
!cdn/media/bg-gagal-login.jpg
!cdn/media/favicon-uin.png
!cdn/media/logo-uin-dark.png
!cdn/media/logo-uin-dark.svg
!cdn/media/logo-uin-small.png
!cdn/media/logo-uin.png
!cdn/media/logo-uin.svg
cdn/bundle/*
tugas-akhir/login/vendor/*
tugas-akhir/login/writable/cache/*
tugas-akhir/login/writable/debugbar/*
tugas-akhir/login/writable/logs/*
tugas-akhir/login/writable/session/*
tugas-akhir/login/writable/uploads/*
tugas-akhir/login/node_modules
tugas-akhir/akademik/vendor/*
tugas-akhir/akademik/writable/cache/*
tugas-akhir/akademik/writable/debugbar/*
tugas-akhir/akademik/writable/logs/*
tugas-akhir/akademik/writable/session/*
tugas-akhir/akademik/writable/uploads/*
tugas-akhir/akademik/node_modules
tugas-akhir/mahasiswa/vendor/*
tugas-akhir/mahasiswa/writable/cache/*
tugas-akhir/mahasiswa/writable/debugbar/*
tugas-akhir/mahasiswa/writable/logs/*
tugas-akhir/mahasiswa/writable/session/*
tugas-akhir/mahasiswa/writable/uploads/*
tugas-akhir/mahasiswa/node_modules
tugas-akhir/admin/vendor/*
tugas-akhir/admin/writable/cache/*
tugas-akhir/admin/writable/debugbar/*
tugas-akhir/admin/writable/logs/*
tugas-akhir/admin/writable/session/*
tugas-akhir/admin/writable/uploads/*
tugas-akhir/admin/node_modules
pgdata