<?php

define('CDN_PATH', 'http://localhost:8012/');
define('JWT_KEY', '');
define('LOGIN_PAGE', 'http://localhost:8013/');
define('FEEDER_PATHNAME', 'https://neofeeder.ar-raniry.ac.id/ws/live2.php');
define('FEEDER_USERNAME', '201011');
define('FEEDER_PASSWORD', '*pddiktiuinar');
