<?php

define('CDN_PATH', 'http://localhost:8012/');
define('JWT_KEY', '');
define('LOGIN_PAGE', 'http://localhost:8013/');
define('FEEDER_URL', '');
define('FEEDER_USERNAME', '');
define('FEEDER_PASSWORD', '');